<table>
<% var i; for (i=0; i < quizes.length; i++){ %>
	<tr>
	  <td><a href="quizes/<%= quizes[i].id %>"> <%= quizes[i].pregunta %></a></td>
	  <td><a href="quizes/<%= quizes[i].id %>/edit"> <button>Editar</button> </a></td>
	</tr>
<% } %>
</table>

<a href="/quizes/new"><button type="button">Crear pregunta</button></a>

<form method="get" action="/quizes">
	<p>Busqueda Quiz:</p>
	<input type="text" name="search" placeHolder="palabras clave" />
	<input type="submit" value="Enviar" />
	<a href="/quizes"><button type="button">Reiniciar</button></a>
</form>
