<p><strong>Estadísticas:</strong></p>
<p>- Número de preguntas: <%= statictics.quiz%> </p>
<p>- Número de comentarios: <%= statictics.comment%> </p>
<p>- Comentarios medios por pregunta: <%= statictics.comment_quiz%> </p>

